Source: organnery
Priority: optional
Section: sound
Maintainer: Christopher Obbard <chris@64studio.com>
Uploaders: Daniel James <daniel@64studio.com>
Build-Depends: debhelper (>= 12), dh-systemd
Standards-Version: 3.9.8

Package: organnery
Architecture: any
Pre-Depends: whois,
 lightdm,
 lightdm-autologin-greeter
Depends: ${misc:Depends},
 ${shlibs:Depends},
 aeolus,
 alsa-utils,
 cpufrequtils,
 gmidimonitor,
 mididings,
 python-pygame
Description: Organnery
 Setup scripts for the Organnery system
